.add-user {
  width: 320px;
  border: none;
  margin: 0;
  padding: 0;
}

.add-user__wrapper {
  width: 280px;
  margin: 0 auto;
}

.add-user__title {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: @black;
}

.add-user__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
