.advantages {
  background-color: @color-main;
}

.advantages__wrapper {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.advantages__title {
  margin: 0;
  margin-bottom: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: left;
  color: @color-text-main;
  background-color: @color-main;
}

.advantages__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.advantages__item {
  min-height: 60px;
  box-sizing: border-box;
  position: relative;
  padding-top: 2px;
  padding-bottom: 4px;
  padding-left: 80px;
  margin-bottom: 20px;
}

.advantages__item::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: @color-accent;
  top: 0;
  left: 0;
}

.advantages__item::after {
  content: "";
  position: absolute;
}

.advantages__item:nth-child(1)::after {
  width: 30px;
  height: 32px;
  top: 14px;
  left: 15px;
  content: url("../img/index/svg/icon-leaf.svg");
}

.advantages__item:nth-child(2)::after {
  width: 30px;
  height: 32px;
  top: 13px;
  left: 15px;
  content: url("../../img/index/svg/icon-tub.svg");
}

.advantages__item:nth-child(3)::after {
  width: 30px;
  height: 32px;
  top: 15px;
  left: 18px;
  content: url("../../img/index/svg/icon_eat.svg");
}

.advantages__item:nth-child(4)::after {
  width: 30px;
  height: 32px;
  top: 13px;
  left: 14px;
  content: url("../../img/index/svg/icon_alarm.svg");
}

.advantages__item-number {
  display: none;
}

.advantages__item-text {
  position: relative;
  margin: 0;
  font-family: @second-font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: @color-text-second;
}

@media (min-width: @tablet-width) {
  .advantages__wrapper {
    width: 628px;
    padding-left: 30px;
    padding-right: 110px;
    border-bottom: 1px solid #e6e6e6;
  }

  .advantages__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 32px;
  }

  .advantages__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 134px;
    row-gap: 37px;
  }

  .advantages__item {
    min-height: 280px;
    box-sizing: border-box;
    margin-bottom: 0;
    padding: 0;
    padding-top: 151px;
  }

  .advantages__item::before {
    width: 80px;
    height: 80px;
    top: 40px;
  }

  .advantages__item:nth-child(1)::after {
    top: 67px;
    left: 27px;
  }

  .advantages__item:nth-child(2)::after {
    top: 63px;
    left: 25px;
  }

  .advantages__item:nth-child(3)::after {
    top: 65px;
    left: 28px;
  }

  .advantages__item:nth-child(4)::after {
    top: 63px;
    left: 24px;
  }

  .advantages__item-number {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 280px;
    line-height: 280px;
    color: #f2f2f2;
  }

  .advantages__item-text {
    font-size: 16px;
    line-height: 24px;
    z-index: 2;
  }
}

@media (min-width: @desktop-width) {
  .advantages__wrapper {
    width: 1220px;
    padding: 0 110px;
    padding-bottom: 26px;
    margin: 0 auto;
    border: none;
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 0;
    row-gap: 0;
  }

  .advantages__item {
    width: 250px;
  }
}
