.advantages {
  width: 320px;
}

.advantages__wrapper {
  width: 280px;
  margin: 0 auto;
}

.advantages__title {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
}

.advantages__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
