.button {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  width: 280px;
  height: 40px;
  color: #ffffff;
  background-color: #68B738;
  justify-self: center;
  text-align: center;

  &--promo {
    padding: 8px 44px;
  }
}
