.button {
  display: flex;
  text-transform: uppercase;
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  width: 280px;
  height: 40px;
  padding: 0;
  font-family: @oswald;
  color: #ffffff;
  background-color: #68b738;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  border: none;

  &--promo {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
  }

  &--purchase {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
  }

  &--all {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #444444;
    background-color: #f2f2f2;
  }

  &--purchase-extra {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }

  &--change {
    width: 50px;
    height: 30px;
    background-color: transparent;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
  }

  &--send {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }
}
