.contacts {
  width: 320px;
  display: flex;
  flex-direction: column;
  background-color: @white;

  &--dark {
    background-color: @grey;
  }
}

.contacts__wrapper {
  width: 280px;
  margin: 0 20px;
}

.contacts__offer {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @special-deep-grey;
}

.contacts__adress {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: @special-dark-grey;
}

.contacts__location {
  position: relative;
  width: 320px;
}

.contacts__location::after {
  content: url("../img/index/map-pin.png");
  position: absolute;
  top: 139px;
  left: 134px;
}

@media (min-width: @tablet-width) {
  .contacts__wrapper {
    padding: 56px 70px;
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: @dekstop-width) {
  .contacts {
    max-width: 1220px;
    position: relative;
  }

  .contacts__wrapper {
    position: absolute;
    width: 405px;
    padding: 56px 80px;
    top: 95px;
    left: 110px;
  }
}
