.contacts {
  background-color: @color-main;
}

.contacts__wrapper {
  width: 320px;
  margin: 0 auto;
}

.contacts__adress-wrapper {
  width: 280px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;

  &--dark {
    background-color: @color-second;
  }
}

.contacts__offer {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @color-text-special;
}

.contacts__adress {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: @color-text-second;
}

.contacts__location {
  width: 320px;
  position: relative;
}

.contacts__location::after {
  content: url("../img/index/map-pin.png");
  position: absolute;
  top: 139px;
  left: 134px;
}

@media (min-width: @tablet-width) {
  .contacts__wrapper {
    width: 768px;
  }

  .contacts__adress-wrapper {
    width: 628px;
    padding: 0 70px;
  }

  .contacts__location {
    width: 768px;
    height: 400px;
    background-image: url("../img/index/map-tablet.jpg");
    background-position: center;
    background-repeat: no-repeat;
  }

  .contacts__location::after {
    content: url("../img/index/svg/map-pin-big.svg");
    top: 146px;
    left: 333px;
  }

  .contacts__map {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .contacts__wrapper {
    width: 1440px;
    height: 400px;
    margin: 0 auto;
    position: relative;
  }

  .contacts__adress-wrapper {
    position: absolute;
    width: 405px;
    padding: 56px 80px;
    background-color: @color-main;
    z-index: 1;
    top: 95px;
    left: 110px;
  }

  .contacts__location {
    width: 1440px;
    height: 400px;
    background-image: url("../img/index/map-desktop.jpg");
    background-position: center;
    background-repeat: no-repeat;
  }

  .contacts__location::after {
    top: 131px;
    left: 908px;
  }

  .contacts__map {
    display: none;
  }
}
