.product {
  font-family: @main-font;
  background-color: @color-main;
}

.product__title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: @color-title-small;
}

.product__characteristic {
  font-family: @second-font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: @color-text-second;
  background-color: @color-main;
}

.product__value {
  font-family: @second-font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: @color-text-second;
  background-color: @color-main;
}
