.content-all {
  width: 320px;
}

.content-all__wrapper {
  width: 280px;
  margin: 0 auto;
  background-image: url("../img/catalog/show-all.png");
  background-position: top center;
  background-repeat: no-repeat;
}

.content-all__title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: @color-text-special;
  background-color: @color-main;
}

.content-all__description {
  font-family: @second-font;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: @color-text-second;
  background-color: @color-main;
}
