.content-extra {
  font-family: @oswald;
  background-color: @white;
}

.content-extra__title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: @special-dark-grey-2;
}

.content-extra__characteristic {
  font-family: @arial;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: @special-dark-grey;
  background-color: @white;
}

.content-extra__value {
  font-family: @arial;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: @special-dark-grey;
  background-color: @white;
}
