.extra-product__title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: @color-title-small;
}

.extra-product__stats-item {
  display: flex;
  justify-content: space-between;
}

.extra-product__characteristic {
  font-family: @second-font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}

.extra-product__value {
  margin: 0;
  font-family: @second-font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}

.extra-product__link {
  min-height: 40px;
  width: 100%;
}

@media (min-width: @tablet-width) {
  .extra-product__title {
    margin-right: auto;
  }

  .extra-product__value {
    margin-left: 50px;
  }
}

@media (min-width: @desktop-width) {
  .extra-product__link {
    margin-left: 38px;
    max-width: 244px;
  }
}
