.extra-product__title {
  margin: 0;
  margin-bottom: 13px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: @color-title-small;
}

.extra-product__stats-item {
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.extra-product__characteristic {
  font-family: @second-font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}

.extra-product__value {
  margin: 0;
  font-family: @second-font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}

.extra-product__link {
  margin-top: 15px;
  min-height: 40px;
  width: 100%;
}

@media (min-width: @tablet-width) {
  .extra-product__title {
    margin-right: auto;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 0;
  }

  .extra-product__characteristic {
    font-size: 16px;
    line-height: 20px;
  }

  .extra-product__value {
    width: 44px;
    margin-left: 50px;
    font-size: 16px;
    line-height: 20px;
    text-align: end;
  }

  .extra-product__link {
    margin-top: 21px;
  }
}

@media (min-width: @desktop-width) {
  .extra-product__characteristic {
    width: 132px;
  }

  .extra-product__value {
    text-align: start;
  }

  .extra-product__link {
    margin-left: 38px;
    margin-top: 0;
    max-width: 244px;
  }
}
