.extra-product {
  width: 320px;
}

.extra-product__title {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: @black;
  background-color: @white;
}

.extra-product__wrapper {
  width: 280px;
  margin: 0 auto;
}

.extra-product__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
