.form__text-info {
  font-family: @second-font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: @color-text-main;
}

.form__input {
  width: 280px;
  padding: 0 20px;
}

@media (min-width: @tablet-width) {
  .form__input {
    width: 630px;
    padding: 0 68px;
  }
}

@media (min-width: @desktop-width) {
  .form__input {
    width: 1220px;
    padding: 0 110px;
  }
}

