.info {
  width: 320px;
}

.info__wrapper {
  width: 280px;
  margin: 0 auto;
}

.info__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.info__item {
  color: #000000;
  background-color: #f2f2f2;
}

.info__title {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.info__text {
  font-family: "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  background-color: #f2f2f2;
}

.info__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #f2f2f2;
}
