.info {
  width: 320px;
}

.info__wrapper {
  width: 280px;
  padding: 0 20px;
}

.info__list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.info__item {
  height: 266px;
  margin-bottom: 20px;
  color: @black;
  background-color: @grey;
}

.info__title {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.info__text {
  font-family: @arial;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: @special-dark-grey;
  background-color: @grey;
}

.info__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: @black;
  background-color: @grey;
}

@media (min-width: @tablet-width) {
  .info__wrapper {
    width: 708px;
    padding: 0 30px;
  }

  .info__item {
    height: 372px;
  }
}

@media (min-width: @desktop-width) {
  .info__list {
    flex-direction: row;
  }

  .info__item {
    width: 570px;
    height: 374px;
  }
}
