.item-info__field {
  margin-right: 13px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @color-text-second;
}

.item-info__input {
  display: flex;
  flex-grow: 1;
  min-height: 46px;
  box-sizing: border-box;
  padding: 13px 15px;
  font-family: @main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @color-text-second;
  border: 1px solid #e7e7e7;

  &--contacts {
    border: 1px solid #cdcdcd;
  }
}
