// .item-info::before {
//   position: absolute;
//   content: url("../img/form/svg/icon-letter.svg");
//   display: block;
//   width: 19px;
//   height: 14px;
//   top: 0;
//   bottom: 0;
//   right: 20px;
//   margin: auto;
//   z-index: 2;
// }

.item-info__field {
  margin-right: 13px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @color-text-second;
}

.item-info__input {
  position: relative;
  display: flex;
  flex-grow: 1;
  height: 46px;
  box-sizing: border-box;
  padding: 13px 15px;
  font-family: @main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @color-text-second;
  border: 1px solid #e7e7e7;

  &--contacts {
    padding-right: 40px;

    &:hover {
      border: 1px solid #cdcdcd;
    }

    &:focus {
      border: 2px solid #444444;
      padding: 12px 14px;
    }

    &:invalid {
      border: 2px solid #ff8282;
      padding: 12px 14px;
    }

    // &::before {
    //   position: absolute;
    //   content: url("../img/form/svg/icon-letter.svg");
    //   display: block;
    //   width: 19px;
    //   height: 14px;
    //   top: 0;
    //   bottom: 0;
    //   right: 20px;
    //   margin: auto;
    //   z-index: 2;
    //   background-color: tomato;
    // }
  }

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:focus {
    border: 2px solid #444444;
    padding: 12px 14px;
  }

  &:invalid {
    border: 2px solid #ff8282;
    padding: 12px 14px;
  }
}

.item-info__icon {
  position: absolute;

  // &--letter {
  //   position: absolute;
  // }
}

// .item-info__icon--letter {
//   display: block;
//   position: absolute;
// }

@media (min-width: @tablet-width) {
  .item-info__field {
    font-size: 20px;
    line-height: 30px;
  }

  .item-info__input {
    min-height: 52px;
    font-size: 20px;
    line-height: 30px;
    padding: 10px 18px;
  }
}

@media (min-width: @desktop-width) {
  .item-info__input {
    padding: 10px 20px;
  }
}
