.main-header {
  width: 320px;
  background-color: @white;
}

.main-header__wrapper {
  width: 280px;
  margin: 0 auto;
}

.main-header__toggle {
  width: 16px;
  height: 24px;
  background-image: url("../img/index/svg/header-toggle.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
}
