.main-container {
  background-color: @color-main;
  color: @color-text-main;
}

.main-container__title-wrapper {
  padding: 0 20px;
}

.main-container__title {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: @color-text-main;
}
