.main-nav {
  display: none;
  background-color: @white;
}

@media (min-width: @tablet-width) {
  .main-nav {
    display: flex;
    width: 440px;
    justify-content: space-between;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    display: flex;
    width: 478px;
    justify-content: space-between;
  }
}
