.main-footer {
  color: @color-text-main;
  background-color: @color-second;
}

.main-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  padding: 0 20px;
  padding-top: 40px;
  padding-bottom: 22px;
  margin: 0 auto;
}

.main-footer__logo-name {
  margin-bottom: 32px;
}

.main-footer__logo-academy {
  width: 280px;
  margin-top: 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-footer__logo-academy-name {
  margin: 0;
  display: block;
  font-family: @second-font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: @color-text-second;
}

@media (min-width: @tablet-width) {
  .main-footer__wrapper {
    width: 708px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: @desktop-width) {
  .main-footer__wrapper {
    width: @desktop-content-width;
    margin: 0 auto;
  }
}
