.main-container {
  position: relative;
  background-color: @color-main;
  color: @color-text-main;
}

.main-container__title-wrapper {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
  padding-top: 26px;
  padding-bottom: 40px;
  border-top: 1px solid #d9d9d9;
}

.main-container__title {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: @color-text-main;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .main-container__title-wrapper {
    width: 708px;
    padding: 0 30px;

    &--form {
      width: 630px;
      padding: 0 70px;
    }
  }
}

@media (min-width: @desktop-width) {
  .main-container__title-wrapper {
    width: @desktop-content-width;
  }

  .main-container__section-wrapper {
    width: @desktop-content-width;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }
}
