.main-header {
  background-color: @color-main;
}

.main-header__wrapper {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header__wrapper-full {
  width: 280px;
  padding-top: 10px;
  padding-bottom: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header__wrapper-small {
  width: 191px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-header__logo {
  height: 38px;
}

.main-header__logo-name {
  height: 18px;
}

@media (min-width: @tablet-width) {
  .main-header__wrapper {
    width: 708px;
    justify-content: space-between;
    padding: 0 30px;
  }

  .main-header__wrapper-full {
    width: 708px;
    min-height: 54px;
    padding-top: 24px;
    padding-bottom: 62px;
  }

  .main-header__wrapper-small {
    width: 174px;
    align-self: center;
  }
}

@media (min-width: @desktop-width) {
  .main-header__wrapper {
    width: 1220px;
    padding: 0 110px;
    margin: 0 auto;
  }

  .main-header__nav {
    display: flex;
    flex-wrap: wrap;
    width: 478px;
    justify-content: space-between;
  }
}
