.meal {
  font-family: "Oswald", "Tahoma", sans-serif;
  width: 320px;
}

.meal__wrapper-description {
  width: 280px;
  margin: 0 auto;
}

.meal__description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}
