.meal {
  font-family: @main-font;
}

.meal__wrapper-description {
  width: 280px;
  padding: 0 20px;
}

.meal__description {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
  margin-bottom: 39px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .meal__description {
    width: 630px;
    padding: 0 70px;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 66px;
  }
}

@media (min-width: @desktop-width) {
  .meal__description {
    width: @desktop-content-width;
  }
}
