.product__wrapper {
  display: flex;
  width: 280px;
  padding: 0 20px;

  &--more {
    flex-direction: column;
  }
}

.product__link {
  margin: 0 auto;
}

.product__photo {
  width: 140px;
  height: 112px;
  object-fit: contain;
}

.product__wrapper-text {
  width: 142px;
}

.product__title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @color-text-second;
}

.product__stats-item {
  display: flex;
  justify-content: space-between;

  &--extra {
    width: 225px;
  }
}

.product__description {
  font-family: @second-font;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.product__characteristic {
  font-family: @second-font;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: @color-text-second;
}

.product__value {
  font-family: @second-font;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: @color-text-second;
}

@media (min-width: @tablet-width) {
  .product__wrapper {
    position: relative;
    display: block;
    width: 250px;
    padding: 0 37px;
    z-index: 1;
  }

  .product__link {
    position: relative;
    z-index: 1;
  }

  .product__wrapper-text {
    width: 250px;
  }

  .product__wrapper-content-extra {
    width: 632px;
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: @desktop-width) {
  .product__wrapper {
    width: 180px;
    padding-left: 35px;
    padding-right: 30px;
  }
}
