.products {
  background-color: @color-main;
}

.products__wrapper {
  width: 320px;
  margin: 0 auto;
}

.products__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.products__item {
  min-height: 190px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 20px 15px;

  &--more {
    min-height: 158px;
    padding-top: 53px;
    padding-bottom: 0;
    flex-direction: column;
  }
}

.products__item:last-child .product__title,
.products__item:last-child .product__description {
  display: inline;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .products__wrapper {
    width: 708px;
    padding: 0 30px;
  }

  .products__list {
    display: grid;
    grid-template-columns: 324px 324px;
    column-gap: 60px;
    row-gap: 142px;
  }

  .products__item {
    position: relative;
    flex-direction: column;
    flex-wrap: nowrap;
    min-height: 430px;
    padding: 0 36px 39px;
    margin-top: 81px;
    background-color: @color-second;
    justify-content: flex-end;
  }

  .products__item:last-child {
    background-color: @color-main;
  }
}

@media (min-width: @desktop-width) {
  .products__wrapper {
    width: 1220px;
    padding: 0 110px;
    margin: 0 auto;
  }

  .products__list {
    display: grid;
    grid-template-columns: repeat(4, 245px);
    column-gap: 80px;
    row-gap: 63px;
  }

  .products__item {
    min-height: 511px;
  }

  .products__item::before {
    width: 245px;
    min-height: 431px;
  }
}
