.product__wrapper {
  width: 280px;
  margin: 0 auto;
}

.product__photo {
  object-fit: contain;
}

.product__title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @color-text-second;
  background-color: @color-main;
}

.product__description {
  font-family: @second-font;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.product__characteristic {
  font-family: @second-font;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: @color-text-second;
}

.product__value {
  font-family: @second-font;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: @color-text-second;
}
