.promo {
  display: flex;
  flex-direction: column;
}

.promo__wrapper {
  width: auto;
}

.promo__wrapper-title {
  min-height: 302px;
  position: relative;
  background-image: url("../img/index/background-promo.png");
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
}

.promo__wrapper-title::after {
  position: absolute;
  content: "";
  background-color: @color-bg;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.promo__wrapper-product {
  padding: 0 20px;
}

.promo__title {
  position: relative;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: @color-main;
  z-index: 2;
}

.promo__slogan {
  position: relative;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
  z-index: 2;
}

.promo__product {
  object-fit: contain;
}

@media (min-width: @tablet-width) {
  .promo__wrapper-title {
    background-image: none;
    min-height: auto;
    padding: 0 117px;
  }

  .promo__wrapper-title::after {
    display: none;
  }

  .promo__title {
    color: @color-text-main;
    background-color: @color-main;
  }

  .promo__slogan {
    color: @color-text-main;
    background-color: @color-main;
  }

  .promo__wrapper-product {
    position: relative;
    padding: 0 30px;
  }

  .promo__product {
    width: 709px;
    height: 609px;
  }

  .promo__link {
    position: absolute;
    top: 29px;
    left: 91px;
  }
}

@media (min-width: @desktop-width) {
  .promo__wrapper {
    max-width: 1330px;
    padding-left: 110px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
  }

  .promo__wrapper-title {
    padding: 0 80px;
  }

  .promo__wrapper-product {
    min-width: 720px;
    min-height: 694px;
    background-image: url("../img/index/background-promo.png");
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
  }

  .promo__wrapper-product::after {
    position: absolute;
    content: "";
    background-color: @color-bg;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }

  .promo__product {
    position: absolute;
    width: 552px;
    height: 499px;
    top: 141px;
    left: -162px;
    z-index: 2;
  }

  .promo__link {
    position: absolute;
    top: 455px;
    left: -530px;
  }
}
