.statistic__description {
  margin: 0;
  margin-bottom: 20px;
  font-family: @second-font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: @color-text-second;
}

.statistic__description br {
  display: none;
}


.statistic__infographic-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 25px;
}

.statistic__price-description-wrapper {
  display: flex;
  justify-content: space-between;
  width: 188px;
  margin: 0 auto;
}

.statistic__price-description {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.statistic__price-description br {
  display: none;
}


@media (min-width: @tablet-width) {
  .statistic__description {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 54px;
  }

  .statistic__description br {
    display: block;
  }

  .statistic__price-description-wrapper {
    flex-direction: column;
    margin: 0;
    margin-left: auto;
  }

  .statistic__price-description {
    width: max-content;
    margin-left: auto;
    font-size: 20px;
    line-height: 1.5;
    text-align: right;
  }

  .statistic__price-description br {
    display: block;
  }
}

@media (min-width: @desktop-width) {
  .statistic__description {
    margin-bottom: 69px;

    & br {
      display: none;
    }
  }

  .statistic__price-description-wrapper {
    width: 327px;
    flex-direction: row;
    margin: 0;
  }

  .statistic__price-description {
    margin-left: 0;
    text-align: left;
  }

  .statistic__price-description br {
    display: none;
  }
}
