.statistic__text-wrapper {
  margin-bottom: 20px;
}

.statistic__description {
  margin: 0;
  font-family: @second-font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: @color-text-second;
}

.statistic__infographic-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.statistic__total-price {
  margin-bottom: 40px;
}

.statistic__price-description {
  margin: 0;
  text-align: center;
}
