.statistics {
  width: 320px;
  color: @black;
  background-color: @light-grey;
}

.statistics__wrapper {
  width: 280px;
  margin: 0 auto;
}

.statistics__title {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: @black;
  background-color: @light-grey;
}

.statistics__description {
  font-family: @second-font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: @special-dark-grey;
  background-color: @light-grey;
}
