.statistics {
  position: relative;
  display: flex;
  flex-direction: column;
  color: @color-text-main;
  background-color: @color-emphasize;
}

.statistics__wrapper {
  width: 280px;
  padding: 0 20px;
  padding-top: 25px;
  padding-bottom: 40px;
  margin: 0 auto;
}

.statistics__title {
  margin: 0;
  margin-bottom: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: left;
  color: @color-text-main;
}

@media (min-width: @tablet-width) {
  .statistics {
    color: @color-text-main;
    background-image: linear-gradient(@color-main 620px, @color-emphasize 462px);
  }

  .statistics__wrapper {
    position: relative;
    width: 708px;
    padding: 43px 30px 55px;
  }

  .statistics__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 63px;
  }

  .statistics__info-wrapper {
    margin-bottom: 60px;
  }
}

@media (min-width: @desktop-width) {
  .statistics {
    width: 1440px;
    margin: 0 auto;
    background-image: linear-gradient(@color-main 180px, @color-second 462px);
  }

  .statistics__wrapper {
    width: 1220px;
    padding: 43px 110px 65px;
  }

  .statistics__title {
    margin-bottom: 143px;
  }

  .statistics__wrapper-content {
    display: grid;
    grid-template-columns: 436px 591px;
    justify-content: space-between;
  }

  .statistics__info-wrapper {
    margin-bottom: 0;
  }

  .statistics__content {
    width: 591px;
    height: 576px;
  }

  .statistics__wrapper::after {
    top: 133px;
  }
}
