.statistics {
  width: 320px;
  display: flex;
  flex-direction: column;
  color: @black;
  background-color: @light-grey;
}

.statistics__wrapper {
  width: 280px;
  padding: 0 20px;
}

.statistics__title {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: @black;
  background-color: @light-grey;
}

.statistics__description {
  font-family: @arial;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: @special-dark-grey;
  background-color: @light-grey;
}

@media (min-width: @tablet-width) {
  .statistics__wrapper {
    width: 708px;
    padding: 0 30px;
  }

  .content-photo {
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .statistics {
    flex-direction: row;
  }
}
